menu "ESP RainMaker Console"

    config ESP_RMAKER_CONSOLE_ENABLED
        bool "Enable RMAKER common console"
        default y
        help
            Enable RainMaker common console.
            If the application has its own console, this can be disabled.

    config ESP_RMAKER_CONSOLE_TASK_STACK
        int "Console task stack"
        default 4096
        help
            Stack size for the console task.

    config ESP_RMAKER_CONSOLE_TASK_PRIORITY
        int "Console task priority"
        default 5
        help
            Priority for the console task.

endmenu
